<form class="layui-form" action="">
  <input name="type" value="basic" hidden disabled>
  <div class="layui-form-item">
    <label class="layui-form-label">网站标题</label>
    <div class="layui-input-block">
      <input type="text" name="title" autocomplete="off" placeholder="请输入网站标题" value="{:sys_config('title')}" lay-verify="required" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">网站关键词</label>
    <div class="layui-input-block">
      <input type="text" name="keywords" autocomplete="off" placeholder="请输入网站关键词" value="{:sys_config('keywords')}" lay-verify="required" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">网站描述</label>
    <div class="layui-input-block">
      <input type="text" name="description" autocomplete="off" placeholder="请输入网站描述" value="{:sys_config('description')}" lay-verify="required" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">网站地址</label>
    <div class="layui-input-block">
      <input type="text" name="system_url" autocomplete="off" placeholder="请输入网站地址" value="{:sys_config('system_url')}" lay-verify="required" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">开关</label>
    <div class="layui-input-block">
      <input type="checkbox" name="status" lay-skin="switch" lay-filter="switchTest" title="开|关" {:sys_config('status') == 1 ? 'checked=""':''}>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">底部版权信息</label>
    <div class="layui-input-block">
      <textarea placeholder="请输入底部版权信息" name="copyright" class="layui-textarea">{:sys_config('copyright')}</textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
    </div>
  </div>
</form>