{extend name="base" /}
{block name="main"}
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
        <li class="layui-this">基础配置</li>
        <li>存储方式</li>
        <li>音乐配置</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            {include file="/setting/basic"}
        </div>
        <div class="layui-tab-item">
            {include file="/setting/storage"}
        </div>
        <div class="layui-tab-item">
            {include file="/setting/music"}
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form', 'upload'], function () {
        var form = layui.form;
        var upload = layui.upload;
        //提交
        form.on('submit(submit)', function (data) {
            $.ajax('',{
                type:'post',
                data:data.field,
                success:function (res) {
                    layer.msg(res.msg);
                    $(".layui-laypage-btn").click();
                },
                error:function (err) {
                    layer.msg('系统开小车了');
                }
            })
            return false;
        });
    });
</script>
{/block}