{extend name="base" /}
{block name="main"}
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
        <li class="layui-this">基础配置</li>
        <li>存储方式</li>
        <li>音乐配置</li>
        <li>收录配置</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            {include file="/setting/basic"}
        </div>
        <div class="layui-tab-item">
            {include file="/setting/storage"}
        </div>
        <div class="layui-tab-item">
            {include file="/setting/music"}
        </div>
        <div class="layui-tab-item">
            {include file="/setting/shoulu"}
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form', 'upload'], function () {
        var form = layui.form;
        var upload = layui.upload;
        //提交
        form.on('submit(submit)', function (data) {
            $.ajax('',{
                type:'post',
                data:data.field,
                success:function (res) {
                    layer.msg(res.msg);
                    $(".layui-laypage-btn").click();
                },
                error:function (err) {
                    layer.msg('系统开小车了');
                }
            })
            return false;
        });
        //上传
        upload.render({
            elem: '#update'
            , url: '/api/upload/uploads' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            , field: 'upload-image'
            , done: function (res) {
                layer.msg('上传成功');
                layui.$('#uploadView').removeClass('layui-hide').find('img').attr('src', res.data.url);
                layui.$('#uploadMsg').addClass('layui-hide');
                $('#surfacePlot').val(res.data.url);
                console.log(res)
            }
        });
    });
</script>
{/block}