<form class="layui-form" action="">
    <input name="type" value="shoulu" hidden disabled>
    <div class="layui-card" style="padding: 10px">
        <div class="layui-card-header">百度收录</div>
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label">百度收录密钥</label>
                <div class="layui-input-block">
                    <input type="text" name="token" autocomplete="off" placeholder="请输入百度收录密钥" value="{:sys_config('token','baidu')}" class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
        </div>
    </div>
</form>