<div class="btn-audio clear">
    <img src="https://unpkg.com/outeres@0.0.11/demo/wallpaper.jpg?v=1" alt=""
         style="width: 5.2rem;float: left">
    <div style="float: left">
        <p style="font-size: 1.2rem; color: #333;margin: 1rem 0 0.3rem 1.2rem;">我要吃肉肉</p>
        <p style="font-size: 1rem; color: #888; margin: 0 0 0 1.2rem">何曼婷 - 我要吃肉肉</p>
    </div>
    <img src="/static/image/music.png" alt=""
         style="width: 1rem;position: absolute;bottom: 0.5rem;right: 0.5rem;">
    <div class="mp3Box">
        <audio id="mp3Btn">
            <source src="http://ting6.yymp3.net:82/new27/ybe/1.mp3" type="audio/mpeg"/>
        </audio>
    </div>
</div>
