APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = #DB_HOST#HOSTPORT = #DB_PORT#USERNAME = #DB_USER#PASSWORD = #DB_PWD#DATABASE = #DB_NAME#PREFIX = xf_CHARSET = utf8mb4DEBUG = true[LANG]default_lang = zh-cn[CACHE]DRIVER = #CACHE_TYPE#[REDIS]REDIS_HOSTNAME = #RB_HOST#PORT = #RB_PORT#REDIS_PASSWORD = '#RB_PWD#'SELECT = #RB_SELECT#