<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,maximum-scale=1">
    <title>{block name="title"}小范的个人博客{/block}</title>
    <meta name="keywords" content="{:sys_config('keywords')}">
    <meta name="description" content="{:sys_config('description')}"/>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="/static/prism/one/prism.css">
    <script src="/static/prism/one/prism.js"></script>
    <script src="/static/js/layui/layui.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
{block name="header"}{/block}
{block name="main"}{/block}
<div class="fixed m-hidden">
    <div class="page-bd">
        <div class="tzt-code">
            <div class="tzt-panel" style="width: 380px;{:sys_config('url','music')?'':'display: none'}">
                <div class="btn-audio clear">
                    <img src="{:sys_config('img','music')}" alt=""
                         style="width: 5.2rem;float: left">
                    <div style="float: left">
                        <p style="font-size: 1.2rem; color: #333;margin: 1rem 0 0.3rem 1.2rem;">
                            {:sys_config('name','music')}</p>
                        <p style="font-size: 1rem; color: #888; margin: 0 0 0 1.2rem">{:sys_config('name','music')}</p>
                    </div>
                    <img src="/static/image/music.png" alt=""
                         style="width: 1rem;position: absolute;bottom: 0.5rem;right: 0.5rem;">
                    <div class="mp3Box">
                        <audio id="mp3Btn">
                            <source src="{:sys_config('url','music')}" type="audio/mpeg"/>
                        </audio>
                    </div>
                </div>
            </div>
            <div class="tzt-panel" style="{:sys_config('wechat_img','system')??'display: none'}">
                <div class="tzt-panel_bd text-center">
                    <p><img class="img-responsive" src="{:sys_config('wechat_img','system')}" alt="扫码可以加我微信哦"></p>
                    <label>扫码可以加我微信哦</label>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="page-bd">
        <div class="text-center text-muted">
            {:sys_config('copyright')}
        </div>
    </div>
</footer>
<script>
    var pvImg = $(".pvImg img");
    pvImg.each(function () {
        $(this).click(function () {
            previewImg(this);
        })
    });

    function previewImg(obj) {
        layer.photos({
            photos: {
                "title": "预览",
                "start": 0,
                "data": [
                    {
                        "alt": "预览",
                        "pid": 5,
                        "src": obj.src,
                    }
                ]
            },
            hideFooter: true // 是否隐藏底部栏 --- 2.8+
        });
    };
    //播放完毕
    $('#mp3Btn').on('ended', function () {
        console.log("音频已播放完成");
        $('.mp3Box').css({
            'background': 'url(/static/image/close.png) no-repeat center bottom',
            'background-size': 'cover'
        });
    });
    //播放器控制
    var audio = document.getElementById('mp3Btn');
    audio.volume = .3;
    $('.mp3Box').click(function () {
        event.stopPropagation();//防止冒泡
        if (audio.paused) { //如果当前是暂停状态
            $('.mp3Box').css({
                'background': 'url(/static/image/open.png) no-repeat center bottom',
                'background-size': 'cover'
            });
            audio.play(); //播放
        } else { //当前是播放状态
            $('.mp3Box').css({
                'background': 'url(/static/image/close.png) no-repeat center bottom',
                'background-size': 'cover'
            });
            audio.pause(); //暂停
        }
    });
    $('#search').click(function () {
        let keyword = $('#keyword').val();
        if (keyword == '' || keyword == undefined) {
            layer.msg('搜索内容不能为空');
            return;
        }
        window.location.replace("/search?keyword=" + keyword);
    })
    var img = $("img");
    img.on("contextmenu", function () {
        return false;
    });
    img.on("dragstart", function () {
        return false;
    });
</script>
</body>
</html>
