{extend name="base" /}
{block name="main"}
<div style="padding: 16px;">
    <table class="layui-hide" id="test" lay-filter="test"></table>
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="refresh">刷新</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary layui-border-purple" lay-event="more">更多
            <i class="layui-icon layui-icon-down"></i>
        </a>
    </div>
</script>
<style>
    .layui-table-cell {
        overflow: visible;
        text-overflow: inherit;
        white-space: normal;
        height: auto !important;
        word-break: break-all;
    }

</style>
{/block}
{block name="js"}
<script>
    layui.use(['table', 'dropdown'], function () {
        var table = layui.table;
        var dropdown = layui.dropdown;

        // 创建渲染实例
        table.render({
            elem: '#test',
            url: 'list',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            page: true,
            skin: 'line', //表格风格
            cols: [[
                {type: 'checkbox',},
                {field: 'id', title: 'ID', width: 80},
                // {
                //     field: 'img', title: '封面', width: 180, templet: function (res) {
                //         return '<img src="' + res.img + '" />';
                //     }
                // },
                {field: 'title', title: '标题', minWidth: 180},
                {
                    field: 'category', title: '分类', width: 80, templet: function (res) {
                        return '<span class="layui-badge-rim">' + res.category.name + '</span>';
                    }
                },
                {
                    field: 'userInfo', title: '作者', width: 80, templet: function (res) {
                        return res.user.nickname;
                    }
                },
                {field: 'browse_num', title: '浏览量', width: 80},
                {field: 'like_num', title: '点赞量', width: 80},
                {
                    field: 'status', title: '状态', width: 120, templet: function (res) {
                        switch (res.status) {
                            case -1:
                                return '<span class="layui-badge">删除</span>';
                            case 0:
                                return '<span class="layui-badge layui-bg-orange">审核中</span>';
                            case 1:
                                return '<span class="layui-badge layui-bg-green">正常</span>';
                        }
                    }
                },
                {field: 'add_time', title: '添加时间', width: 150},
                {fixed: 'right', title: '操作', width: 134, minWidth: 125, toolbar: '#barDemo'}
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            done: function (res, curr, count) {
                //动态监听表头高度变化，冻结行跟着改变高度
                $(".layui-table-header tr").resize(function () {
                    $(".layui-table-header  tr").each(function (index, val) {
                        $($(".layui-table-fixed .layui-table-header table tr")[index]).height($(val).height());
                    });
                });
                //初始化高度，使得冻结行表头高度一致
                $(".layui-table-header tr").each(function (index, val) {
                    $($(".layui-table-fixed .layui-table-header table tr")[index]).height($(val).height());
                });
                //动态监听表体高度变化，冻结行跟着改变高度
                $(".layui-table-body tr").resize(function () {
                    $(".layui-table-body  tr").each(function (index, val) {
                        $($(".layui-table-fixed .layui-table-body table tr")[index]).height($(val).height());
                    });
                });
                //初始化高度，使得冻结行表体高度一致
                $(".layui-table-body tr").each(function (index, val) {
                    $($(".layui-table-fixed .layui-table-body table tr")[index]).height($(val).height());
                });

            },
            error: function (res, msg) {
                console.log(res, msg)
            }
        });

        // 工具栏事件
        table.on('toolbar(test)', function (obj) {
            var id = obj.config.id;
            var checkStatus = table.checkStatus(id);
            var othis = lay(this);
            switch (obj.event) {
                case 'refresh':
                    table.reload('test');
                    break;
                case 'LAYTABLE_TIPS':
                    break;
            }
            ;
        });
        // 触发单元格工具事件
        table.on('tool(test)', function (obj) { // 双击 toolDouble
            var data = obj.data; // 获得当前行数据
            // console.log(obj)
            if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    area: ['100%', '100%'],
                    content: 'edit?id=' + data.id,
                    yes: function (index, layero) {
                        table.reload('test');
                    }
                });
            } else if (obj.event === 'more') {
                let xl = [];
                if (data.sl != 1) {
                    xl.push({
                        title: '提交收录',
                        val: 'sl'
                    });
                }
                if (data.is_del != 1) {
                    xl.push({
                        title: '删除',
                        val: 'del'
                    });
                }
                // 更多下拉菜单
                dropdown.render({
                    elem: this,
                    show: true, // 外部事件触发即显示
                    data: xl,
                    click: function (data, othis) {
                        //根据 id 做出不同操作
                        if (data.val === 'del') {
                            layer.confirm('真的删除行么' + obj.data.id, function (index) {
                                $.ajax('del', {
                                    type: 'get',
                                    data: {id: obj.data.id},
                                    success: function (res) {
                                        layer.msg(res.msg);
                                        obj.del();
                                        layer.close(index);
                                    }
                                })
                            });
                        } else if (data.val === 'sl') {
                            $.ajax('gather', {
                                type: 'get',
                                data: {id: obj.data.id},
                                success: function (res) {
                                    layer.msg(res.msg);
                                }
                            })
                        } else {
                            layer.msg('得到表格下拉菜单 id：' + data.val);
                        }
                    },
                })
            }
        });
    });
</script>
{/block}