<header class="main-header">
  <a href="#" target="_blank" class="logo">
    <span class="logo-mini">小范</span>
    <span class="logo-lg"><strong>{:sys_config('title')}</strong></span>
  </a>
  <nav class="navbar navbar-static-top">
    <a class="sidebar-toggle">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o "></i>
            <span class="label label-success">0</span>
          </a>
        </li>
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">0</span>
          </a>
        </li>
        <li class="dropdown tasks-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            <span class="label label-danger">0</span>
          </a>
        </li>
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{$info.acatar}" class="user-image" alt="User Image">
            <span class="hidden-xs">{$info.nickname}</span>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><a class="menuItem" data-id="/admin/user" href="/admin/user"><i
                    class="fa fa-user"></i>个人信息</a></li>
            <li><a href="/admin/clear"><i class="fa fa-trash-o"></i>清空缓存</a></li>
<!--            <li><a href="javascript:void();"><i class="fa fa-paint-brush"></i>皮肤设置</a></li>-->
            <li class="divider"></li>
            <li><a href="/admin/logout"><i class="ace-icon fa fa-power-off"></i>安全退出</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>