<div class="main-sidebar">
    <div class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://img2.woyaogexing.com/2023/07/15/65e0549adc5fdb17bf9d9dc92da9b0d9.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>administrator</p>
                <a><i class="fa fa-circle text-success"></i>在线</a>
            </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                            <a class="btn btn-flat"><i class="fa fa-search"></i></a>
                        </span>
            </div>
        </form>
        <ul class="sidebar-menu" id="sidebar-menu">
            <li class="header">导航菜单</li>
        </ul>
    </div>
</div>
<script>
    function loadMenu() {
        var data = [
            {
                "F_ModuleId": "M1",
                "F_ParentId": "0",
                "F_EnCode": "SysManage",
                "F_FullName": "系统管理",
                "F_Icon": "fa fa-desktop",
            }, {
                "F_ModuleId": "m1-1",//模块ID
                "F_ParentId": "M1",//父级ID
                "F_EnCode": "SysConfig",//编码
                "F_FullName": "基础配置",//全名
                "F_Icon": "fa fa-leaf",//图标
                "F_UrlAddress": "/admin/setting/config",//URL地址
            },
            {
                "F_ModuleId": "m1-2",//模块ID
                "F_ParentId": "M1",//父级ID
                "F_EnCode": "CategoryManage",//编码
                "F_FullName": "分类管理",//全名
                "F_Icon": "fa fa-leaf",//图标
                "F_UrlAddress": "/admin/category/list",//URL地址
            },
            {
                "F_ModuleId": "m1-3",//模块ID
                "F_ParentId": "M1",//父级ID
                "F_EnCode": "TagManage",//编码
                "F_FullName": "标签管理",//全名
                "F_Icon": "fa fa-leaf",//图标
                "F_UrlAddress": "/admin/tag/list",//URL地址
            },
            {
                "F_ModuleId": "M2",
                "F_ParentId": "0",
                "F_EnCode": "ArticleManage",
                "F_FullName": "文章管理",
                "F_Icon": "fa fa-desktop",
            },
            {
                "F_ModuleId": "m2-1",//模块ID
                "F_ParentId": "M2",//父级ID
                "F_EnCode": "ArticleAdd",//编码
                "F_FullName": "添加文章",//全名
                "F_Icon": "fa fa-leaf",//图标
                "F_UrlAddress": "/admin/Article/add",//URL地址
            },
            {
                "F_ModuleId": "m2-2",//模块ID
                "F_ParentId": "M2",//父级ID
                "F_EnCode": "ArticleList",//编码
                "F_FullName": "文章列表",//全名
                "F_Icon": "fa fa-leaf",//图标
                "F_UrlAddress": "/admin/Article/list",//URL地址
            },
            {
                "F_ModuleId": "M3",
                "F_ParentId": "0",
                "F_EnCode": "MoreManage",
                "F_FullName": "扩展设置",
                "F_Icon": "fa fa-desktop",
            },
            {
                "F_ModuleId": "m3-1",//模块ID
                "F_ParentId": "M3",//父级ID
                "F_EnCode": "MoreBanner",//编码
                "F_FullName": "轮播图",//全名
                "F_Icon": "fa fa-leaf",//图标
                "F_UrlAddress": "/admin/system/banner/list",//URL地址
            },
            {
                "F_ModuleId": "m3-2",//模块ID
                "F_ParentId": "M3",//父级ID
                "F_EnCode": "MoreBlogroll",//编码
                "F_FullName": "友情链接",//全名
                "F_Icon": "fa fa-leaf",//图标
                "F_UrlAddress": "/admin/blog_roll/list",//URL地址
            },
            {
                "F_ModuleId": "M4",
                "F_ParentId": "0",
                "F_EnCode": "WhManage",
                "F_FullName": "维护",
                "F_Icon": "fa fa-desktop",
            },
            {
                "F_ModuleId": "m4-1",//模块ID
                "F_ParentId": "M4",//父级ID
                "F_EnCode": "WhLog",//编码
                "F_FullName": "日志",//全名
                "F_Icon": "fa fa-leaf",//图标
                "F_UrlAddress": "/admin/system/log/list",//URL地址
            }
        ];
        var _html = "";
        $.each(data, function (i) {
            var row = data[i];
            if (row.F_ParentId == "0") {
                if (i == 0) {
                    _html += '<li class="treeview active">';
                } else {
                    _html += '<li class="treeview">';
                }
                _html += '<a href="#">'
                _html += '<i class="' + row.F_Icon + '"></i><span>' + row.F_FullName + '</span><i class="fa fa-angle-left pull-right"></i>'
                _html += '</a>'
                var childNodes = $.learunindex.jsonWhere(data, function (v) {
                    return v.F_ParentId == row.F_ModuleId
                });
                if (childNodes.length > 0) {
                    _html += '<ul class="treeview-menu">';
                    $.each(childNodes, function (i) {
                        var subrow = childNodes[i];
                        var subchildNodes = $.learunindex.jsonWhere(data, function (v) {
                            return v.F_ParentId == subrow.F_ModuleId
                        });
                        _html += '<li>';
                        if (subchildNodes.length > 0) {
                            _html += '<a href="#"><i class="' + subrow.F_Icon + '"></i>' + subrow.F_FullName + '';
                            _html += '<i class="fa fa-angle-left pull-right"></i></a>';
                            _html += '<ul class="treeview-menu">';
                            $.each(subchildNodes, function (i) {
                                var subchildNodesrow = subchildNodes[i];
                                _html += '<li><a class="menuItem" data-id="' + subrow.F_ModuleId + '" href="' + subrow.F_UrlAddress + '"><i class="' + subchildNodesrow.F_Icon + '"></i>' + subchildNodesrow.F_FullName + '</a></li>';
                            });
                            _html += '</ul>';

                        } else {
                            _html += '<a class="menuItem" data-id="' + subrow.F_ModuleId + '" href="' + subrow.F_UrlAddress + '"><i class="' + subrow.F_Icon + '"></i>' + subrow.F_FullName + '</a>';
                        }
                        _html += '</li>';
                    });
                    _html += '</ul>';
                }
                _html += '</li>'
            }
        });
        $("#sidebar-menu").append(_html);
        $("#sidebar-menu li a").click(function () {
            var d = $(this),
                e = d.next();
            if (e.is(".treeview-menu") && e.is(":visible")) {
                e.slideUp(500, function () {
                    e.removeClass("menu-open")
                }),
                    e.parent("li").removeClass("active")
            } else if (e.is(".treeview-menu") && !e.is(":visible")) {
                var f = d.parents("ul").first(),
                    g = f.find("ul:visible").slideUp(500);
                g.removeClass("menu-open");
                var h = d.parent("li");
                e.slideDown(500, function () {
                    e.addClass("menu-open"),
                        f.find("li.active").removeClass("active"),
                        h.addClass("active");

                    var _height1 = $(window).height() - $("#sidebar-menu >li.active").position().top - 41;
                    var _height2 = $("#sidebar-menu li > ul.menu-open").height() + 10
                    if (_height2 > _height1) {
                        $("#sidebar-menu >li > ul.menu-open").css({
                            overflow: "auto",
                            height: _height1
                        })
                    }
                })
            }
            e.is(".treeview-menu");
        });
    }
    loadMenu();
</script>
