{extend name="base" /}
{block name="title"}留言反馈{/block}
{block name="header"}
<header class="tzt-header">
    <div class="page-bd">
        <div class="tzt-header_hd pull-left">
            <a href="/" title="{:sys_config('title')}">{:sys_config('title')}</a>
        </div>
        <div class="tzt-header_bd pull-left">
            <a href="/"><i class="icon iconfont icon-home" style="margin-left:0;padding-top: 10px;"></i></a>
        </div>
        <div class="tzt-header_ft pull-right">
            <form method="post" name="search" action="/search" class="search-form mb15" id="#form"
                  style="display: inline-block;">
                <div style="position: absolute;right:0;">
                    <button type="submit"
                            style="border-radius: 0 5px 5px 0; background-color: var(--tzt-INDIGO); color: #fff;height:40px;width:60px">
                        搜索
                    </button>
                    <a><i class="icon iconfont icon-classification" style="font-size: 26px;margin-left:0"></i></a>
                </div>
                <input type="text" name="q" class="form-control" placeholder="请输入要搜索的关键词" value="">
            </form>
        </div>
        {include file="public/menus" /}
    </div>
</header>
{/block}
{block name="main"}
<main class="page">
    <div class="page-bd">
        <div class="tzt-panel">
            <div class="tzt-panel_hd">
                <div class="tzt-panel_bread">
                    <span>当前位置：</span>
                    <a>留言反馈</a>
                </div>
            </div>
            <article class="tzt-panel_bd">
                <h1 class="tzt-article_title mb15">留言反馈</h1>
            </article>
            <div class="text-muted">留言数量：{$total}条</div>
            <hr>
            <div class="layui-collapse" >
                {foreach $list as $item}
                <div class="layui-colla-item">
                    <div class="layui-colla-title">
                        <span><a style="color:#00c11d;font-weight: 600">{$item.nickname}：</a>{$item.details}</span>
                        <div style="float: right;color: #686868;font-size: 14px">
                            {$item.add_time}
                        </div>
                    </div>
                    <div class="layui-colla-content">
                        <div class="layui-timeline">
                            {foreach $item.reply as $reply}
                            <div class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis layui-icon-face-smile"></i>
                                <div class="layui-timeline-content layui-text">
                                    <a style="color:#5766e3;font-weight: 600">{$reply.nickname}：</a>{$reply.add_time|date="Y-m-d H:i"}
                                    <div class="layui-timeline-title">{$reply.details}</div>
                                </div>
                            </div>
                            {/foreach}
                            <button type="button" class="layui-btn layui-btn-xs"
                                    onclick="reply('{$item.id}','{$item.details}')">
                                <i class="layui-icon layui-icon-survey"></i>回复
                            </button>
                        </div>

                    </div>
                </div>
                {/foreach}
                <hr>
                <ul class="tzt-pagination">
                    <li>
                        <a href="">首页</a>
                    </li>
                    {if $page > 1}
                    <li>
                        <a href="?page={$page - 1}">上一页</a>
                    </li>
                    {/if}
                    <li class="active">
                        <a id="page_num">{$page}</a>
                    </li>
                    {if $pages > $page}
                    <li>
                        <a href="?page={$page + 1}">下一页</a>
                    </li>
                    {/if}
                    <li>
                        <a>共{$pages}页</a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="tzt-panel">
            <div class="mt15" id="divCommentPost">
                <div class="tzt-panel_hd">
                    <h3>我要留言：<a id="reply_msg" style="font-size: 13px">新增</a><a onclick="qx()">x</a></h3>
                </div>
                <div class="tzt-panel_bd">
                    <div class="post">
                        <form class="layui-form" action="">
                            <div class="tzt-comment_input">
                                <p>
                                    <input type="text" name="nickname" class="form-control text" value="访客"
                                           size="28" lay-verify="required" placeholder="名称"/>
                                </p>
                                <p class="center">
                                    <input type="text" name="contact"
                                           class="form-control text" value="" size="28" tabindex="2" lay-verify="required"
                                           placeholder="联系方式"/>
                                </p>
                            </div>
                            <p>
                                <textarea name="details" class="form-control text" cols="50" rows="4"
                                          tabindex="5" lay-verify="required" placeholder="请输入内容"></textarea>
                            </p>
                            <p>
                                <input type="text" name="verify" class="form-control text" value=""
                                       tabindex="4" lay-verify="required" placeholder="验证码"
                                       style="display: inline-block; max-width: 120px; margin-right: 10px;">
                                <img id="verifyImg" src="/api/VerificationCodeGenerator"
                                     onclick="javascript:this.src='/api/VerificationCodeGenerator?tm='+Math.random();"
                                     style="max-width: 120px;height: 35px"/>
                            </p>
                            &nbsp;&nbsp;
                            <div class="text-center">
                                <button type="submit" lay-submit lay-filter="submit"
                                        class="btn btn-blue btn-width submit"><i class="iconfont icon-fillin"></i> 提交留言
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {include file="public/blogroll" /}
    </div>
</main>
<script>
    var id = '';

    function reply(reply_id, details) {
        id = reply_id;
        $('#reply_msg').html('回复：' + details)

    }

    function qx() {
        id = '';
        $('#reply_msg').html('新增')
    }

    layui.use(['form'], function () {
        var form = layui.form;
        var laypage = layui.laypage;
        //提交
        form.on('submit(submit)', function (data) {
            data.field.id = id
            $.ajax('feedback/add', {
                type: 'post',
                data: data.field,
                success: function (res) {
                    layer.msg(res.msg);
                    $(".layui-laypage-btn").click();
                    $("#verifyImg").click();
                },
                error: function (err) {
                    layer.msg('系统开小车了');
                }
            })
            return false;
        });
    });
</script>
{/block}