{extend name="base" /}
{block name="main"}
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="refresh">刷新</button>
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
    </div>
</script>
{/block}
{block name="js"}
<script>
    layui.use(['table', 'dropdown', 'form', 'upload'], function () {
        var table = layui.table;
        var dropdown = layui.dropdown;
        var form = layui.form;
        var upload = layui.upload;

        // 创建渲染实例
        table.render({
            elem: '#test',
            url: 'list', // 此处为静态模拟数据，实际使用时需换成真实接口
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            page: true,
            skin: 'line', //表格风格
            cols: [[
                {type: 'checkbox',},
                {field: 'id', title: 'ID', width: 80},
                {
                    field: 'value', title: '图片', width: 240, templet: function (res) {
                        return '<img class="pvImg" src="' + res.value + '" style="height: 100%" />';
                    }
                },
                {field: 'name', title: '标题', minWidth: 180},
                {field: 'remark', title: '备注', minWidth: 180},
                {field: 'add_time', title: '添加时间', width: 150},
                {fixed: 'right', title: '操作', width: 134, minWidth: 125, toolbar: '#barDemo'}
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            error: function (res, msg) {
                console.log(res, msg)
            }
        });

        // 工具栏事件
        table.on('toolbar(test)', function (obj) {
            var id = obj.config.id;
            var checkStatus = table.checkStatus(id);
            var othis = lay(this);
            switch (obj.event) {
                case 'refresh':
                    table.reload('test');
                    break;
                case 'add':
                    layer.open({
                        type: 1,
                        area: '450px',
                        resize: false,
                        shadeClose: true,
                        title: '添加',
                        content: `<div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">
              <div class="layui-form-item">
                <div class="layui-upload-drag" id="update">
                    <div id="uploadMsg">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                    </div>
                    <input id="surfacePlot" name="imgSrc" value="" hidden>
                    <div class="layui-hide" id="uploadView">
                        <img src="" alt="上传成功后渲染" style="max-width: 196px">
                    </div>
                </div>
            </div>
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                  </div>
                  <input type="text" name="name" value="" lay-verify="required" placeholder="标题" lay-reqtext="请填写标题" autocomplete="off" class="layui-input" >
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                  <input type="text" name="remark" value="" lay-verify="required" placeholder="备注" lay-reqtext="请填写备注" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="add">添加</button>
              </div>
            </div>
          </div>`,
                        success: function () {
                            // 对弹层中的表单进行初始化渲染
                            form.render();
                            // 表单提交事件
                            form.on('submit(add)', function (data) {
                                var field = data.field; // 获取表单字段值
                                $.ajax('add', {
                                    type: 'post',
                                    data: field,
                                    success: function (res) {
                                        layer.closeAll();
                                        table.reload('test');
                                        layer.msg(res.msg)
                                    }
                                })
                                return false; // 阻止默认 form 跳转
                            });
                            //上传
                            upload.render({
                                elem: '#update'
                                , url: '/api/upload/uploads' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
                                , field: 'upload-image'
                                , done: function (res) {
                                    if(res.status == 400){
                                        layer.msg(res.msg);
                                    }else{
                                        layer.msg('上传成功');
                                        layui.$('#uploadView').removeClass('layui-hide').find('img').attr('src', res.data.url);
                                        layui.$('#uploadMsg').addClass('layui-hide');
                                        $('#surfacePlot').val(res.data.url);
                                    }
                                }
                            });
                        }
                    });
                    break;
                case 'LAYTABLE_TIPS':
                    break;
            }
        });
        // 触发单元格工具事件
        table.on('tool(test)', function (obj) { // 双击 toolDouble
            var data = obj.data; // 获得当前行数据
            if (obj.event === 'edit') {
                layer.open({
                    type: 1,
                    area: '350px',
                    resize: false,
                    shadeClose: true,
                    title: '编辑',
                    content: `<div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
            <div class="demo-login-container">
              <div class="layui-form-item">
                <div class="layui-upload-drag" id="update">
                    <div id="uploadMsg" class="layui-hide">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                    </div>
                    <input id="surfacePlot" name="imgSrc" value="` + data.value + `" class="layui-hide">
                    <div id="uploadView">
                        <img src="` + data.value + `" alt="上传成功后渲染" style="max-width: 196px">
                    </div>
                </div>
            </div>
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                  </div>
                  <input type="text" name="name" value="` + data.name + `" lay-verify="required" placeholder="标题" lay-reqtext="请填写标题" autocomplete="off" class="layui-input" >
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-password"></i>
                  </div>
                  <input type="text" name="remark" value="` + data.remark + `" lay-verify="required" placeholder="备注" lay-reqtext="请填写备注" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="edit">保存</button>
              </div>
            </div>
          </div>`,
                    success: function () {
                        // 对弹层中的表单进行初始化渲染
                        form.render();
                        // 表单提交事件
                        form.on('submit(edit)', function (res) {
                            var field = res.field; // 获取表单字段值
                            field.id = data.id;
                            $.ajax('edit', {
                                type: 'post',
                                data: field,
                                success: function (res) {
                                    layer.closeAll();
                                    table.reload('test');
                                    layer.msg(res.msg)
                                }
                            })
                            return false; // 阻止默认 form 跳转
                        });
                        //上传
                        upload.render({
                            elem: '#update'
                            , url: '/api/upload/uploads' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
                            , field: 'upload-image'
                            , done: function (res) {
                                if(res.status == 400){
                                    layer.msg(res.msg);
                                }else{
                                    layer.msg('上传成功');
                                    layui.$('#uploadView').removeClass('layui-hide').find('img').attr('src', res.data.url);
                                    layui.$('#uploadMsg').addClass('layui-hide');
                                    $('#surfacePlot').val(res.data.url);
                                }
                            }
                        });
                    }
                });
            } else if (obj.event === 'del') {
                $.ajax('del', {
                    type: 'get',
                    data: {id: data.id},
                    success: function (res) {
                        table.reload('test');
                        layer.msg(res.msg)
                    }
                })
            }
        });
    });
</script>
{/block}